.container{
  background-color: transparent;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1{
  color: white;
}

a{
  text-decoration: none;
  color: black;
}

.card:hover{
  background-color: black;
  color: white;
  animation: mymove 2s 1 linear;
}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}
